* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 300px;
}
legend {
  padding: 0 10px;
}
fieldset {
  padding: 10px 20px;
}
.field input,
#jk {
  padding: 5px;
}
.field label:nth-child(1) {
  display: inline-block;
  width: 100px;
}
table {
  margin-top: 20px;
  width: 100%;
}
caption {
  padding: 10px 0;
  font-weight: bold;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
tr td:nth-child(1),
tr th:nth-child(1) {
  width: 40px;
}
.field {
  margin: 15px 0;
}
.buttons input:nth-child(1) {
  background-color: rgb(39, 107, 253);
}
.buttons input:nth-child(2) {
  background-color: rgb(196, 39, 0);
}
.buttons input {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: white;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.buttons input:hover {
  transform: scale(0.95);
}
.info {
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  body {
    margin: 0 100px;
  }
}
@media screen and (max-width: 800px) {
  * {
    font-size: medium;
  }
  body {
    margin: 0 50px;
  }
}
@media screen and (max-width: 625px) {
  * {
    font-size: small;
  }
  body {
    margin: 0 10px;
  }
  img {
    width: 75%;
  }
}
